.nav
	display: flex
	align-items: stretch
	position: relative
	height: 55px
	border-bottom: 1px solid rgba(0,0,0,0.12)

.nav-left
	display: flex
	align-items: center
	justify-content: flex-start
	padding-right: 415px
	background: rgba(0,0,0,0.12)

.nav-rest
	display: flex
	align-items: stretch
	position: relative
	width: 100%

.nav-rest-left
	display: flex
	flex: 1
	flex-basis: 0
	align-items: center
	justify-content: flex-start

.nav-rest-right
	display: flex
	flex: 1
	flex-basis: 0
	align-items: center
	justify-content: flex-end

.nav-item
	display: flex
	align-items: center
	justify-content: center
	padding: 10px

	button
		height: 55px

		span
			font-size: 17px
			color: #767676

.nav-search
	display: flex
	flex: 1
	align-items: center
	padding-left: 20px
	height: 55px

	> div
		&:nth-of-type(1)
			display: flex
			align-items: center
			justify-content: center
			height: 55px

			span
				color: #a9a9a9
				font-size: 19px
		&:nth-of-type(2)
			display: flex
			flex: 1
			align-items: center
			position: relative
			height: 55px

			label
				position: absolute
				top: 19px
				left: 6px
				font-size: 19px
				color: #878787

			input
				position: relative
				height: 55px
				background: none
				border: none