<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name='viewport' content="width=device-width, initial-scale=1">
		<link rel='stylesheet' href='../../static/icons/ico/style.css'>
		<link rel='stylesheet' href='../../styles/main.min.css'>

		<link href="https://fonts.googleapis.com/css?family=Lato:300,400i|Noto+Sans:400,700" rel="stylesheet">
	</head>

	<body>
		<div class="index-page-container">
			<% include ../../shared/index-page-left %>

			<div class='index-page-right'>
				<% include ../../shared/nav %>

				<div class='index-page-view-content'>
					<div class='editor-container'>
						<input disabled value='<%= section._id %>' id='post-section'>
						<input disabled value='<%= section.title %>' id='post-section-title'>
						<input disabled id='post-topic-title' value='<%= section.topic.title %>'>

						<div class='editor-submit'>
							<button type='button' id='submit-post'>
								<span>Submit</span>
							</button>
						</div>

						<div class='edit-wrapper'>
							<label>Title</label>
							<input type='text' name='title' id='post-title'>
						</div>


						<div class='edit-editor'>
							<div class='editor-inputs'>
								<textarea name='pad' id='pad'></textarea>
							</div>

							<div class='editor-output'>
								<div id='markdown-section'></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script src='../../scripts/main.min.js'></script>
	</body>
</html>