<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name='viewport' content="width=device-width, initial-scale=1">
		<link rel='stylesheet' href='./static/icons/ico/style.css'>
		<link rel='stylesheet' href='./styles/main.min.css'>
	</head>

	<body>
		<% include ../../shared/nav %>

		<div class='editor-container'>
			<div class='editor-details'>
				<div class='editor-wrapper'>
					<input type='text' name='title' id='post-title'>		
					<label for='post-title'>Title</label>
				</div>

				<div class='editor-wrapper'>
					<input type='text' name='category' id='post-category'>
					<label for='post-category'>Category Id</label>
				</div>

				<div class='editor-wrapper'>
					<input type='text' name='tags' id='post-tags'>
					<label for='post-tags'>Tags</label>					
				</div>
			</div>


			<div class='edit-editor'>
				<div class='editor-inputs'>
					<textarea name='pad' id='pad' col='50'></textarea>
				</div>

				<div class='editor-output'>
					<div id='converted-section'></div>
				</div>
			</div>

			<div class='editor-submit'>
				<button type='button' aria-label='submit post button'>Submit</button>
			</div>			
		</div>
			
		<script src='./scripts/main.min.js'></script>
	</body>
</html>