<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name='viewport' content="width=device-width, initial-scale=1">
		<link rel='stylesheet' href='./static/icons/ico/style.css'>
		<link rel='stylesheet' href='./styles/main.min.css'>
	</head>

	<body>
		<% include ../../shared/nav %>

		<div class='editor-container'>
			<div class='editor-submit'>
				<button type='button' id='submit-post'>
					<span>Submit</span>
				</button>
			</div>

			<div class='edit-wrapper'>
				<label>Title</label>
				<input type='text' name='title' id='post-title'>
			</div>


			<div class='edit-editor'>
				<div class='editor-inputs'>
					<textarea name='pad' id='pad' col='50'></textarea>
				</div>

				<div class='editor-output'>
					<div id='markdown-section'></div>
				</div>
			</div>
		</div>
			
		<script src='./scripts/main.min.js'></script>
	</body>
</html>