.index-topics
	padding-top: 45px
	background: #f6f9fa

.topics-container

	> div
		display: flex
		flex-wrap: wrap
		align-items: stretch
		justify-content: space-around
		width: 75%
		margin: 0 auto

		> a
			width: 100%
			border: 1px solid rgba(0,0,0,0.12)
			transition: all .4s ease
			margin-bottom: 80px
			background: #fff

			&:hover
				transform: scale(1.1,1.1)
				background: #41a3ff

				.topic-card
					h2	
						color: #fff

					p
						color: rgba(255,255,255,0.6)

		&:nth-of-type(1)
			.topic-icon
				width: 190px

		&:nth-of-type(2)
			.topic-icon
				width: 115px

		&:nth-of-type(3)
			.topic-icon
				width: 120px

		&:nth-of-type(5)
			.topic-icon
				height: 110px

.topic-card
	display: flex
	flex-direction: column
	align-items: center
	padding: 25px 0
	cursor: pointer

	h2
		@include lato()
		font-weight: 300
		font-size: 28px
		color: rgba(0,0,0,0.8)
		transition: all .4s ease
		padding-bottom: 10px

	p
		padding: 20px 10px
		@include lato()
		font-weight: 400
		font-style: italic
		font-size: 16px
		text-align: center
		letter-spacing: 2px
		line-height: 24px
		color: rgba(0,0,0,0.4)
		transition: all .4s ease



.topic-icon
	height: 90px
	width: 150px
	margin-bottom: 22px

.single-topic-container
	display: flex
	flex-direction: column
	width: 100%

.single-topic-header
	display: flex
	flex-direction: column
	align-items: center
	border-bottom: 1px solid rgba(0,0,0,0.12)
	padding: 35px

	h2
		font-size: 38px
		padding-top: 20px

	p
		padding-top: 25px
		padding-bottom 15px
		font-size: 18px

.single-topic-sections
	width: 75%
	margin: 0 auto

	> div
		display: flex
		flex-direction: column
		align-items: center
		padding-top: 50px

		> div
			width: 100%
			margin-bottom: 75px
			border: 1px solid rgba(0,0,0,0.12)

,single-section
	padding: 0 25px

.single-section-header
	padding: 30px 20px
	border-bottom: 1px solid rgba(0,0,0,0.12)

	h3
		font-size: 26px

	p
		font-size: 15px
		padding-top: 12px

.single-section-posts

	> div
		display: flex
		paading: 15px 0
		width: 100%
		height: 60px
		border-bottom: 1px solid rgba(0,0,0,0.12)

		> div
			height: 100%
			width: 24px
			background: #41a3ff

		button
			display: flex
			flex: 1
