<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name='viewport' content="width=device-width, initial-scale=1">
		<link rel='stylesheet' href='../../static/icons/ico/style.css'>
		<link rel='stylesheet' href='../../styles/main.min.css'>

		<link href="https://fonts.googleapis.com/
		css?family=Lato:300,400i|Noto+Sans:400,700" rel="stylesheet">
		<link href='../../prismjs/themes/prism-okaidia.css' rel='stylesheet'>
	</head>

	<body>
		<div class="index-page-container">
			<% include ../../shared/index-page-left %>

			<div class='index-page-right'>
				<% include ../../shared/nav %>

				<div class='index-page-view-content'>
					<div class='single-post-container'>
						<div class='single-post-header'>
							<h1><%= post.title %></h1>
							<p>Created in <%= post.section.topicTitle %> || at <%= post.created %></p>
						</div>

						<div class='single-post-body'>
							<div id='post-content'><%= post.content %></div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script src='../../prismjs/prism.js'></script>
		<script src='../../scripts/pages/posts/single.js'></script>
		<script src='../../scripts/main.min.js'></script>
	</body>
</html>