<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name='viewport' content="width=device-width, initial-scale=1">
		<link rel='stylesheet' href='../static/icons/ico/style.css'>
		<link rel='stylesheet' href='../styles/main.min.css'>

		<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400|Open+Sans:300" rel="stylesheet">
	</head>

	<body>
		<% include ../../shared/nav %>

		<main class='single-post-container'>
			<header class='single-post-header'>
				<%= post.title %>
			</header>
		</main>
	</body>
</html>