
<div>
	<header>
		<h1>Simply Scripted</h1>
	</header>

	<p>I really just like to talk about code</p>

	<div class='index-header-latest'>
		<a href='/latest'>
			<button aria-label="See Latest Posts" type='button'>
				<span>Latest Posts</span>
			</button>
		</a>
	</div>
</div>

<div class='index-header-about'>
	<div>
		<h3>Learn to Code</h3>
		<p>Hopefully! I write becuase I really enjoy programming, but if you happen to learn something while you are here. maybe suggest what you would like to see me write about?</p>

		 <div class='index-header-icon'>
		 	<span class='icon-genius'></span>
		 </div>
	</div>

	<div>
		<h3>Help Me</h3>
		<p>Your criticism and feedback are a huge part of me being able to produce better writing and keep me in a constant state of learning</p>

		<div class='index-header-icon'>
			<span class='icon-beaker'></span>
		</div>
	</div>  
</div>