<nav class='nav landing-nav'>
	<div class='nav-left'>
		<div class='nav-item'>
			<h4>Scripted</h4>
		</div>
	</div>

	<div class='nav-center'>
		<div class='nav-item'>
			<a href='/latest'>
				Latest
			</a>
		</div>

		<div class='nav-item'>
			<a href='/categories'>
				Categories
			</a>
		</div>

		<div class='nav-item'>
			<a href='/popular'>
				Popular
			</a>
		</div>

		<div class='nav-item'>
			<a href='/signup'>
				Signup
			</a>
		</div>

		<div class='nav-item'>
			<a href='/login'>
				Login
			</a>
		</div>
	</div>

	<div class='nav-right'>
		<div class='nav-item'>
			<span class='icon-magnifying-glass'></span>
		</div>
	</div>
</nav>