<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name='viewport' content="width=device-width, initial-scale=1">
		<link rel='stylesheet' href='./static/icons/ico/style.css'>
		<link rel='stylesheet' href='./styles/main.min.css'>

		<link href="https://fonts.googleapis.com/css?family=Lato:300,400i|Noto+Sans:400,700" rel="stylesheet">
	</head>

	<body>
		<div class="index-page-container">
			<% include ../shared/index-page-left %>

			<div class='index-page-right'>
				<% include ../shared/nav %>

				<div class='index-page-view-content'>	<div class='auth-page-container'>
						<div class='auth-page-header'>
							<header>
								<h1>Login</h1>
							</header>
						</div>

						<div class='auth-form'>
							<form class='login-form' novalidate>
								<div class='auth-wrapper'>
									<input type='email' required id='login-email'>
									<label>Email</label>
								</div>

								<div class='auth-wrapper'>
									<input type='password' required id='login-password'>
									<label>Password</label>
								</div>

								<div class='auth-form-submit'>
									<button id='login-submit' aria-label='submit login form' type='button'>
										<span>Login</span>
									</button>
								</div>
							</form>
						</div>

						<div class='auth-footer'>
							<p>Don't have an account?<a href='/login'>Signup here</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id='success-content'>
			<h3 class='notification-title'>Success!</h3>
			<p class='notification-text'>You have logged in</p>
		</div>

		<div id='failure-content'>
			<h3 class='notification-title'>Uh Oh!</h3>
			<p class='notification-text'>There is something wrong with your form</p>
		</div>

		<script src='./scripts/main.min.js'></script>
	</body>
</html>