<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name='viewport' content="width=device-width, initial-scale=1">
		<link rel='stylesheet' href='./static/icons/ico/style.css'>
		<link rel='stylesheet' href='./styles/main.min.css'>
		<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400|Open+Sans:300" rel="stylesheet">
	</head>

	<body>
		<% include ../shared/nav %>
		<main class='signup-page-container'>
			<section class='auth-form-container'>
				<form name='signupForm'>
					<h5>Register for an Account</h5>

					<div class='auth-form-wrapper form-wrapper'>
						<input type='text' id='signup-name' name='name'>
						<label for='signup-name'>Name</label>
					</div>

					<div class='auth-form-wrapper form-wrapper form-email'>
						<input type='email' id='signup-email' name='email'>
						<label for='signup-email'>Email</label>
					</div>

					<div class='auth-form-wrapper form-password'>
						<input type='password' id='signup-password' name='password'>
						<label for='signup-password'>Password</label>
					</div>

					<div class='auth-form-wrapper form-confirm'>
						<input type='password' id='signup-confirm' name='confirm'>
						<label for='signup-confirm'>Confirm Password</label>
					</div>

					<div class='auth-form-submit'>
						<button type='button' aria-label='submit signup form' class='form-submit'>
							<span>Signup</span>
						</button>
					</div>

					<p>Have an Account? <a href='/login'>Login</a></p>
				</form>
			</section>
		</main> 
	</body>
</html>