/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain) */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

*, *:before, *:after { -webkit-box-sizing: border-box; box-sizing: border-box; }

html { -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; overflow: hidden !important; }

body { margin: 0; overflow: hidden; -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; text-rendering: optimizeLegibility; width: 100%; -webkit-transition: all .6s ease; transition: all .6s ease; }

h1, h2, h3, h4, p, blockquote, figure, ol, ul { margin: 0; padding: 0; }

a { text-decoration: none; }

button { border: none; cursor: pointer; outline: none; background: none; }

img { max-width: 100%; height: auto; border: 0; }

::-moz-focus-inner { padding: 0; border: 0; }

.app-body { display: -webkit-box; display: -ms-flexbox; display: flex; position: relative; width: 100%; height: 100vh; overflow-x: hidden; }

.app-body-left { width: 300px; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; height: 100vh; }

.app-body-right { width: 100%; overflow-y: scroll; overflow-x: hidden; }

.app-body-view-content { overflow-x: hidden; }

.nav { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: stretch; -ms-flex-align: stretch; align-items: stretch; position: relative; height: 55px; border-bottom: 1px solid rgba(0, 0, 0, 0.12); }

.nav-left { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; padding-right: 415px; background: #f6f9fa; }

.nav-rest { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: stretch; -ms-flex-align: stretch; align-items: stretch; position: relative; width: 100%; border-left: 1px solid rgba(0, 0, 0, 0.12); }

.nav-rest-left { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; -ms-flex-preferred-size: 0; flex-basis: 0; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; }

.nav-rest-right { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; -ms-flex-preferred-size: 0; flex-basis: 0; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; }

.nav-item { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; padding: 10px; }

.nav-item button { height: 55px; }

.nav-item button span { font-size: 17px; color: #767676; }

.nav-search { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding-left: 20px; height: 55px; }

.nav-search > div:nth-of-type(1) { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; height: 55px; }

.nav-search > div:nth-of-type(1) span { color: #a9a9a9; font-size: 19px; }

.nav-search > div:nth-of-type(2) { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; -webkit-box-align: center; -ms-flex-align: center; align-items: center; position: relative; height: 55px; }

.nav-search > div:nth-of-type(2) label { position: absolute; top: 19px; left: 6px; font-size: 19px; color: #878787; }

.nav-search > div:nth-of-type(2) input { position: relative; height: 55px; width: 100%; background: none; border: none; outline: none; }

.app-side-bar { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; height: 100%; width: 100%; border-right: 1px solid rgba(0, 0, 0, 0.12); }

.app-side-bar-header { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding-top: 43px; padding-bottom: 23px; border-bottom: 1px solid rgba(0, 0, 0, 0.12); }

.app-side-bar-header > div { height: 60px; width: 60px; border-radius: 50%; border: 1px solid rgba(0, 0, 0, 0.12); margin-bottom: 18px; }

.app-side-bar-header p { font-size: 19px; padding-bottom: 12px; }

.app-side-bar-body { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; padding-top: 20px; }

.app-side-bar-list { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 100%; }

.app-side-bar-list > li { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; height: 70px; width: 100%; padding-left: 30px; padding-right: 10px; }

.app-side-bar-list > li > div { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; height: 65px; width: 60px; }

.app-side-bar-list > li > div span { font-size: 22px; }

.app-side-bar-list > li > button { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; -webkit-box-align: center; -ms-flex-align: center; align-items: center; height: 65px; }

.app-side-bar-list > li > button span { font-size: 17px; }

.home-header { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

.home-header > div { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; border-bottom: 1px solid rgba(0, 0, 0, 0.12); padding-top: 65px; background: #41a3ff; }

.home-header > div header { padding-bottom: 55px; text-align: center; width: 60%; margin: 0 auto; }

.home-header > div header h1 { font-size: 36px; color: #fefefe; }

.home-header > div p { font-size: 20px; text-align: center; color: rgba(255, 255, 255, 0.6); }

.home-header-latest { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; width: 65%; padding-top: 35px; padding-bottom: 30px; margin: 0 auto; }

.home-header-latest button { height: 40px; width: 145px; border-radius: 22px; border: 6px solid #f6f9fa; background: #fff; }

.home-header-section { padding-top: 40px; padding-bottom: 60px; border-bottom: 1px solid rgba(0, 0, 0, 0.12); }

.home-header-text-section { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: stretch; -ms-flex-align: stretch; align-items: stretch; -ms-flex-pack: distribute; justify-content: space-around; width: 90%; margin: 0 auto; }

.home-header-text-section > div { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; max-width: 30%; }

.home-header-text-section > div h3 { font-size: 20px; padding-bottom: 20px; }

.home-header-text-section > div p { font-size: 14px; line-height: 32px; color: #767676; }

.home-topics-container { padding-top: 45px; background: #f6f9fa; }

.topics-list-container > div { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-align: stretch; -ms-flex-align: stretch; align-items: stretch; -ms-flex-pack: distribute; justify-content: space-around; width: 90%; margin: 0 auto; }

.topics-list-container > div > a { width: 29%; max-width: 29%; border: 1px solid rgba(0, 0, 0, 0.12); -webkit-transition: all .4s ease; transition: all .4s ease; margin-bottom: 80px; background: #fff; }

.topics-list-container > div > a:hover { -webkit-transform: scale(1.1, 1.1); -ms-transform: scale(1.1, 1.1); transform: scale(1.1, 1.1); background: #41a3ff; }

.topics-list-container > div > a:hover .topic-card h2 { color: #fff; }

.topics-list-container > div > a:hover .topic-card p { color: rgba(255, 255, 255, 0.6); }

.topics-list-container > div > a:last-of-type { max-width: 45%; width: 45%; }

.topic-card { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding: 25px 0; cursor: pointer; }

.topic-card h2 { font-size: 28px; color: rgba(0, 0, 0, 0.8); -webkit-transition: all .4s ease; transition: all .4s ease; }

.topic-card p { padding: 20px 10px; font-size: 16px; text-align: center; line-height: 24px; color: rgba(0, 0, 0, 0.6); -webkit-transition: all .4s ease; transition: all .4s ease; }

.topic-icon { height: 90px; width: 90px; border-radius: 50%; border: 1px solid rgba(0, 0, 0, 0.12); margin-bottom: 22px; }

.single-topic-container { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; width: 100%; }

.single-topic-header { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; border-bottom: 1px solid rgba(0, 0, 0, 0.12); padding: 35px; }

.single-topic-header h2 { font-size: 38px; padding-top: 20px; }

.single-topic-header p { padding-top: 25px; font-size: 18px; }

.single-topic-sections { width: 75%; margin: 0 auto; }

.single-topic-sections > div { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding-top: 50px; }

.single-topic-sections > div > div { width: 100%; margin-bottom: 75px; border: 1px solid rgba(0, 0, 0, 0.12); }

single-section { padding: 0 25px; }

.single-section-header { padding: 30px 20px; border-bottom: 1px solid rgba(0, 0, 0, 0.12); }

.single-section-header h3 { font-size: 26px; }

.single-section-header p { font-size: 15px; padding-top: 12px; }

.single-section-posts > div { display: -webkit-box; display: -ms-flexbox; display: flex; paading: 15px 0; width: 100%; height: 60px; border-bottom: 1px solid rgba(0, 0, 0, 0.12); }

.single-section-posts > div > div { height: 100%; width: 24px; background: #41a3ff; }

.single-section-posts > div button { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; }
