
<div class='side-nav-container' id='side-nav-container'>
	<div class='side-nav' id='side-nav'>
		<div class='side-nav-close' id='side-nav-close'>
			<button>
				<span class='icon-close'></span>
			</button>
		</div>
		<div class='side-nav-header'>
			<img src='./static/me.jpg'>
			<p>Welcome!</p>
		</div>

		<div class='side-nav-body'>
			<ul class='side-nav-body-list'>
				<li>
					<button>
						<span>Latest</span>
					</button>

					<div>
						<span class='icon-alarmclock'></span>
					</div>
				</li>

				<li>
					<button>
						<span>Popular</span>
					</button>

					<div>
						<span class='icon-award'></span>
					</div>
				</li>

				<li>
					<button>
						<span>Topics</span>
					</button>

					<div>
						<span class='icon-document'></span>
					</div>
				</li>

				<li>
					<button>
						<span>About</span>
					</button>

					<div>
						<span class='icon-profile-male'></span>
					</div>
				</li>

				<li>
					<button>
						<span>Contact</span>
					</button>

					<div>
						<span class='icon-pencil'></span>
					</div>
				</li>

				<li>
					<button>
						<span>Signup</span>
					</button>
				</li>

				<li>
					<button>
						<span>Login</span>
					</button>
				</li>

				<li>
					<a href='/create-topic'>
						<button>
							<span>Create Topic</span>
						</button>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class='side-nav-container-desktop'>
	<div class='side-nav-desktop'>
		<div class='side-nav-header'>
			<img src='./static/me.jpg'>
			<p>Welcome!</p>
		</div>

		<div class='side-nav-body'>
			<ul class='side-nav-body-list'>
				<li>
					<a href='/latest'>
						<button>
							<span>Latest</span>
						</button>

						<div>
							<span class='icon-alarmclock'></span>
						</div>
					</a> 
				</li>

				<li>
					<button>
						<span>Popular</span>
					</button>

					<div>
						<span class='icon-award'></span>
					</div>
				</li>

				<li>
					<button>
						<span>Topics</span>
					</button>

					<div>
						<span class='icon-document'></span>
					</div>
				</li>

				<li>
					<button>
						<span>About</span>
					</button>

					<div>
						<span class='icon-profile-male'></span>
					</div>
				</li>

				<li>
					<button>
						<span>Contact</span>
					</button>

					<div>
						<span class='icon-pencil'></span>
					</div>
				</li>

				<li>
					<a href='/create-topic'>
						<button>
							<span>Create Topic</span>
						</button>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>