
<div class='nav'>
	<div class='nav-left'>
		<div class='nav-item'>
			<a href='/'>
				<buttom>
					<span>SomethingBlog</span>
				</buttom>
			</a>
		</div>

		<div class='nav-item'>
			<button id='side-nav-trigger'>
				<span>Menu</span>
			</button>
		</div>
	</div>

	<div class='nav-rest'>
		<div class='nav-rest-left'>
			<div class='nav-search'>
				<div>
					<span class='icon-magnifying-glass'></span>
				</div>

				<div>
					<input type='text' name='search' class='nav-search-input'>
					<label>Search</label>
				</div>
			</div>
		</div>

		<div class='nav-rest-right'>
			<div class='nav-item'>
				<a href='/signup'>
					<button>
						<span>Signup</span>
					</button>
				</a>
			</div>

			<div class='nav-item'>
				<a href='/login'>
					<button>
						<span>Login</span>
					</button>
				</a>
			</div>
		</div>
	</div>
</div>
