.editor-container
	display: flex
	flex-direction: column
	width: 100%
	height: calc(100vh - 80px)


.editor-wrapper
	position: relative
	width: 100%
	margin-bottom: 40px

	input
		height: 40px
		width: 100%
		border: 1px solid #ddd
		line-height: 22px
		letter-spacing: .5px
		@inclue open()
		font-weight: 300
		font-size: 15px
		padding-left: 11px
		color: rgb(85, 85, 85)
		outline: none
		transition: all .4s ease

		&:focus
			border-color: #777

			& + label
				transform: translateX(-45px)
				opacity: 0

	label
		position: absolute
		top: 12px
		left: 11px
		@include open()
		font-weight: 300
		font-size: 15px
		color: #aaa
		letter-spacing: 1px
		opacity: 1
		transition: all .4s ease


.edit-editor
	display: flex
	align-items: stretch
	width: 100%
	height: 100%
	border-bottom: 1px solid rgba(0,0,0,0.7)


.editor-inputs
	display: flex
	flex: 1
	flex-direction: column
	align-items: center
	border-right: 1px solid rgba(0,0,0,0.7)
	//height: 100%

	textarea
		height: 100%
		width: 100%
		padding-top: 25px
		font-weight: 400
		font-size: 20px
		white-space: pre-wrap

.editor-output
	display: flex
	flex: 1
	border-top: 1px solid rgba(0,0,0,0.7)
	padding-top: 25px
	padding-left: 13px
	white-space: pre-wrap
	overflow-y: auto


	> pre
		> code
			white-space: normal

