<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name='viewport' content="width=device-width, initial-scale=1">
		<link rel='stylesheet' href='./static/icons/ico/style.css'>
		<link rel='stylesheet' href='./styles/main.min.css'>

		<link href="https://fonts.googleapis.com/css?family=Lato:300,400i|Noto+Sans:400,700" rel="stylesheet">
	</head>

	<body>
		<div class="index-page-container">
			<% include ../../shared/index-page-left %>

			<div class='index-page-right'>
				<% include ../../shared/nav %>

				<div class='index-page-view-content'>
					<div class='create-topic-container'>
						<form name='createTopic'>
							<div class='input-wrapper'>
								<label>Title</label>
								<input type='text' name='title' id='topic-title'>
							</div>

							<div class='input-wrapper'>
								<label>Icon</label>
								<input type='text' name='icon' id='topic-icon'>
							</div>

							<div class='input-wrapper'>
								<label>Description</label>
								<textarea name='description' id='topic-description'></textarea>
							</div>

							<div class='input-submit'>
								<button id='topic-submit' type='button'>
									<span>Submit</span>
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

		<script src='./scripts/main.min.js'></script>
	</body>
</html>